# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "73260891cb7403fc7b5ba62824b484a4"
name = "delivery-date-pro"
application_url = "https://shopify-delivery-picker-8ztfgx9fx-thomas-projects-0e0f05e6.vercel.app"
embedded = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "orders/create" ]
  uri = "/webhooks/orders/create"

  [[webhooks.subscriptions]]
  topics = [ "products/update" ]
  uri = "/webhooks/products/update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_products,read_orders,write_orders"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://shopify-delivery-picker-8ztfgx9fx-thomas-projects-0e0f05e6.vercel.app/auth/callback",
  "https://shopify-delivery-picker-8ztfgx9fx-thomas-projects-0e0f05e6.vercel.app/auth/shopify/callback",
  "https://shopify-delivery-picker-8ztfgx9fx-thomas-projects-0e0f05e6.vercel.app/api/auth/callback"
]

[app_proxy]
url = "https://shopify-delivery-picker-8ztfgx9fx-thomas-projects-0e0f05e6.vercel.app/apps/delivery"
prefix = "apps"
subpath = "delivery"

[pos]
embedded = false
